
<div *ngFor="let city of citys">
    <!-- this puts a id in route parameter see city.component.ts to see it used-->
    <a [routerLink]="['/citys', city.id]">{{city.city}}</a>
</div>
<br>
<div *ngIf = "addCity === false">
    <button (click) = "showAddCity()">Add Cities</button>
</div>

<div *ngIf = "addCity === true">
    <br>
    <br>
    New City Name: <input [(ngModel)] = "newCity.city" type="text">
    <br>
    New City State: <input [(ngModel)] = "newCity.state" type="text">
    <br>
    New City Montly Rent: <input [(ngModel)] = "newCity.monthlyRent" type="text">
    <br>
    New City Average Salary: <input [(ngModel)] = "newCity.averageSal" type="text">
    <br>
    New City Update Year: <input [(ngModel)] = "newCity.updatedYear" type="text">
    <br>
    <button (click) = "addNewCity()" >Add New City</button>
    <br>
    <button (click) = "showAddCity()">Cancel</button>
</div>

